// =============================================================================
// FACET LABEL (Settings)
// =============================================================================

$facetLabel-backgroundColor:                #e2e2e2;
$facetLabel-borderRadius:                   4px;
$facetLabel-removeIcon-width:               14px;
$facetLabel-removeIcon-height:              14px;
$facetLabel-removeIcon-color:               $small-font-color;
